
body {
	font-family: Bitstream Vera Sans, sans-serif;
	background: transparent url(img/fond.png) repeat;
	margin: 2%;
}

#current {
	text-align: left;
	padding-left: 2%;
	margin: 3%;
	border: 1px solid #222;
	background: #4A4F3E;
	-moz-border-radius: 10px;
}


#tree {
/*	margin-left: 1%;*/
	float: left;
	overflow: auto;
	width: 20%;
	height: 50%;
}

#tree ul {
	padding-left: 20px;
}

#tree li {
	list-style-type: none;
}

#content {
	float: right;
	width: 78%;
/*	margin-right: 1%;*/
}

#content-no-tree {
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
}


a {
	color: #AAA;
	font-style: normal;
	text-decoration: none;
}

a:hover {
	color: #000;
	font-style: normal;
	text-decoration: none;
}


.tab {
	border: 1px solid #999;
}
.tab td {
	padding: 1px;
	margin: 1px;
	border: 1px solid #999;
}


.line {
	background: transparent;
}

.line:hover {
	background: #4E5342;
}

table {
	border-collapse: collapse;
}

td {
	border-top: 1px solid #464B3B;
	border-bottom: 1px solid #464B3B;
	padding: 5px;
}


.header {
	background: #4A4F3E;
	font-size: 110%;
	padding: 5px;
}


.header-info {
	font-size: 115%;
	font-weight: bold;
}


.status {
	background: #656959;
	padding: 5px;
	margin: 5px;
	-moz-border-radius: 10px;
	border: 1px #000 dashed;
}

.error {
	color: red;
	background: #FAA;
	font-weight: bold;
	padding: 5px;
	margin: 5px;
	-moz-border-radius: 10px;
}

h4 {
	padding: 5px;
	font-weight: bold;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 85%;
	color: #ffb400;
}


fieldset {
	font-size: 80%;
}


.copyright {
	font-size: 80%;
	text-align: left;
}


.sort {
	padding: 2% 0 2% 0;
	clear: both;
}

#toolbar {
	margin-top: 2%;
	margin: 1%;
	clear: both;
}

/*
#toolbar > fieldset > ul {
	list-style-type: none;
	list-style-image: none;
}

#toolbar > fieldset > ul > li {
	margin: 0;
	margin-right: 10px;
	padding: 10px;
	display:inline;
}
*/

#toolbar > fieldset > a {
	padding: 2px;
	border: 1px solid transparent;
	margin-right: 10px;
}

.description {
	font-size: 85%;
	color: #ffb400;
}




/*	Les formulaires
 */
textarea{
	width: 100%;
	border: 1px solid #111;
	background: #4E5342;
}

textarea:focus {
	background: #575c4c;
}

input {
	border: 1px solid #000;
	padding: 3px;
	background: #4E5342;
}

input:focus {
	background: #575c4c;
}

input[type=submit] {
	border: 1px solid #333;
	padding: 1px;
	background: #999;
}

input[type=submit]:hover {
	border: 1px solid #333;
	padding: 1px;
	background: #AAA;
}



hr {
	height: 1px;
	margin: 0;
	padding: 0;
	color: #F00;
	background-color: #000;
	border: 0;
}

fieldset {
	padding: 10px;
	margin: 1%;
	border: 1px solid #222;
	background: #4A4F3E;
	-moz-border-radius: 8px;
	color: #888;	
}

fieldset legend {
	font-size: 120%;
	font-weight: bold;
	color: #000;
}



#form_misc {
	padding: 40px;
	width: 50%;
}

.comment_line {
	margin: 5px;
	padding: 10px;
	background: #575c4c;
	font-size: 90%;
	-moz-border-radius: 15px;
}


.comment_info {
	font-weight: bold;
	padding: 1px;
}

.comment_content {
	padding: 10px;
}

.comment_nbr {
/*
	background : transparent url(img/PostIt.png) repeat-x top left;
	width: 100px;
	height: 70px;
*/
	color: #990;
	display: inline;
}

img {
	border: 0px;
}



.option {
	padding: 5px;
	border: 1px #BBB solid;
	background: #EEE;
}

.plugin {
	padding: 5px;
	text-align: center;
}

.help {
	margin-left: 5%;
	font-style: italic;
	color: #CC8100;
}





th {
	background: #CCC;
}


.pagination {
	width: 100%;
	text-align: center;
	font-size: 100%;
	padding-bottom: 20px;
}

.pagination > #current {
	width: 30%;
}

.pagination > #previous {
	float: left;
	width: 30%;
}

.pagination > #next {
	float: right;
	width: 30%;
}


.info {
	background: #575c4c;
	border: 1px solid #111;
	padding: 5px;

	font-weight: normal;
	margin-left: 10%;
	margin-right: 10%;
	-moz-border-radius: 10px;
}


.action {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#main {
	width: 90%;

	margin-left: 5%;
	margin-right: 5%;
}



#sidebar {
	padding: 1em;
}

#sidebar a{
	padding: 0.5em;
	text-decoration: none;
}

#sidebar a:hover{
	background: #575c4c;
	-moz-border-radius: 10px;
}

#sidebar ul{
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

#sidebar li{
	margin: 0;
	padding: 0;
	display:inline;
}




/*	Plugins
 */


.gallery {
	width: 100%;
	text-align: center;
}



.gallery td {
	background: transparent;
	border: 1px solid #575c4c;
	font-size: 80%;
	text-align: right;
}


.gal_img {
	text-align: center;
	padding: 1%;
}




.gallery fieldset {
	border: 0px;
	border: 1px #CCC solid;
	background: #EEE;
}

.gallery fieldset legend {
	border: 1px #CCC solid;
	background: #DDD;
}
.gallery > .img1 {
	margin-left: 50%;
}

.gallery > .img2 {
	margin-right: 50%;
}


/*	Plugin Php, text
 */
.textbox {
	background: #FFF;
	border: 1px solid #000;
	text-align: left;
	padding: 10px;
}


/*	Zenphoto
 */
#zenphoto .imagethumb a {
	display: block;
	padding: 10px;
	margin: 6px;
	
	border: 1px solid #777;
	background: #575c4c;

	line-height: 0px;

	height: 120px;
	width: 120px;
}

#zenphoto .imagethumb a:hover {
	border: 1px solid #000;
	background: #585D4D;
}

#zenphoto .imagethumb {
	float: left;
}


#zenphoto {
	text-align: left;
	width: 100%;
}

#zenphoto .header-info {
	clear: both;
	margin: 0%;
	padding: 2% 0% 0% 0%;
}

