
/*	Cette css regroupe tous les éléments communs liés aux plugins
 */
.info {
	background: #CCE;
	border: 1px dashed #AAC;
	padding: 5px;

	font-weight: normal;
	margin-left: 10%;
	margin-right: 10%;
}

.plugin {
	padding: 5px;
	border: 1px #AAA dashed;
	text-align: center;
}

.textbox {
	background: #FFF;
	text-align: left;
	padding: 10px;
}
