
body {
	font-family: Bitstream Vera Sans, sans-serif;
	background: transparent url(img/fond.png) repeat;
	font-size: 80%;
}

#current {
	text-align: left;
	padding-left: 2%;
	margin: 3%;
	border: 1px solid #222;
	background: #4A4F3E;
	-moz-border-radius: 10px;
}



.icon {
	width: 32px;
	height: 32px;
}


#content {
	float: right;
	width: 81%;
	margin: 1%;
}

#content-no-tree {
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
	clear: both;
}


a {
	color: #AAA;
	font-style: normal;
	text-decoration: none;
}

a:hover {
	color: #000;
	font-style: normal;
	text-decoration: none;
}





/*	Affichage comme pour un listage de dossier du plugin Dir
 */
.line {
	border-collapse: collapse;
}

.line td, .line th {
	padding: 5px;
	border: 0px;
	border-top: 1px solid #464B3B;
	border-bottom: 1px solid #464B3B;
}

.line tr:hover {
	background: #4E5342;
}

.line a {
	color: #AAA;
	font-style: normal;
	text-decoration: none;
	font-size: 100%;
}

.line a:hover {
	color: #000;
}


/*	Affichage tableau avec contour
 */
.tab {
	width: 100%;
	border-collapse: collapse;
	background: transparent;
	border: 1px solid #4A4F3E;
}

.tab tr:hover {
	background: #4E5342;
}

.tab th {
	background: #444938;
	border: 1px solid #444938;
}

.tab td {
	padding: 5px;
	border: 1px solid #474C3B;
}

.tab a {
	color: #AAA;
	font-style: normal;
	text-decoration: none;
	font-size: 100%;
}

.tab a:hover {
	color: #000;
}

.tab .selected {
	background: #800;
}

.tab .selected:hover {
	background: #A00;
}



.ok {
	font-size: 110%;
	color: green;
	font-weight: bold;
}

.no {
	font-size: 110%;
	color: red;
	font-weight: bold;
}



table {
	border-collapse: collapse;
	empty-cells: show;
}

td {
	border-top: 1px solid #464B3B;
	border-bottom: 1px solid #464B3B;
	padding: 5px;
}


.header {
	background: #4E5342;
	font-size: 110%;
	padding: 5px;
}


.header-info {
	font-size: 115%;
	font-weight: bold;
}

.suggestion {
	background: #656959;
	padding: 10px;

	font-weight: normal;

	margin: 10%;

	-moz-border-radius: 10px;
}


.status {
	background: #656959;
	padding: 5px;
	margin: 5px;
	-moz-border-radius: 10px;
	border: 1px dashed #000;
}

.error {
	color: red;
	background: #FAA;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	-moz-border-radius: 10px;
}

h4.description {
	padding: 5px;
	font-weight: bold;
	margin: 20px;
	font-size: 85%;
	color: #ffb400;
	clear: both;
}



.copyright {
	font-size: 80%;
	text-align: left;
}


.sort {
	padding: 2% 0 2% 0;
	clear: both;
}

#toolbar {
	margin-top: 2%;
	clear: both;
	padding-top: 20px;
}

#toolbar img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

#toolbar a {
	float: left;
	margin-right: 10px;

	/*	Pour IE 6 */
	padding: 5px;
}

/* pour les autres navigateurs */
* > #toolbar a {
	padding: 5px;
	padding-right: 10px;
}

/* pour IE 7 */
*+html #toolbar a {
	padding: 5px;
}

#toolbar #administration {
	color: orange;
}

#toolbar #username {
	font-weight: bold;
}





/*	Les formulaires
 */
textarea {
	width: 100%;
	border: 1px solid #111;
	background: #4E5342;
}

textarea:focus {
	background: #575c4c;
}

input {
	border: 1px solid #464B3B;
	padding: 3px;
	background: #4E5342;
}

input:focus {
	background: #575c4c;
}

input[type=submit] {
	border: 1px solid #333;
	padding: 1px;
	background: #999;
}

input[type=submit]:hover {
	border: 1px solid #333;
	padding: 1px;
	background: #AAA;
}

select {
	background: #656959;
	border: 1px solid #464B3B;
} 


hr {
	height: 1px;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	color: #F00;
	background-color: #000;
	border: 0;
}

fieldset {
	padding: 10px;
	border: 1px solid #222;
	background: #4A4F3E;
	-moz-border-radius: 8px;
	color: #888;
	font-size: 90%;

	/* Pour avoir un fieldset qui ressemble à quelque chose sous IE */
    position: relative;
    padding: 0 0.5em 1em 0.5em;

	/*	Pour IE 6 */
	margin-top: 30px;
}

/* pour les autres navigateurs */
* > fieldset {
	margin-top: 0px;
}

/* pour IE 7 */
*+html fieldset {
	margin-top: 30px;
}


fieldset legend {
	font-size: 120%;
	font-weight: bold;
	color: #000;

	/* Pour avoir un fieldset qui ressemble à quelque chose sous IE */
    position: relative;
    top: -1.5em;
    padding: 0.4em;
}



#form_misc {
	width: 100%;
}



.comment_info {
	padding: 1px;
}

.comment_content {
	padding: 10px;
	background: #4A4F3E;
	-moz-border-radius: 10px;
}

.comment_nbr {
	color: #990;
	display: inline;
}

img {
	border: 0px;
}



.option {
	padding: 5px;
	border: 1px solid #BBB;
	background: #EEE;
}

.plugin {
	padding: 5px;
	text-align: center;
}

.help {
	margin-left: 5%;
	font-style: italic;
	color: #CC8100;
}




/*
th {
	background: #CCC;
}
*/


.pagination {
	width: 100%;
	text-align: center;
	font-size: 100%;
	padding-bottom: 20px;
	clear: both;
}

.pagination #current_page {
	width: 30%;
	font-weight: bold;
}

.pagination #previous {
	float: left;
	width: 20%;
	text-align: left;
}

.pagination #num_page {
	width: 60%;
	float: left;
}

.pagination #next {
	float: right;
	width: 20%;
	text-align: right;
}



.action {
	width: 100%;
}

#main {
	width: 96%;

	margin-left: 2%;
	margin-right: 2%;
}



#sidebar {
	padding: 1em;
}

#sidebar a {
	padding: 0.5em;
	text-decoration: none;
}

#sidebar ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

#sidebar li {
	margin: 0;
	padding: 0;
	display: inline;
}




/*	L'arborescence
 */
#tree {
	float: left;
	overflow: auto;
	width: 15%;
	height: 50%;
	clear: both;
}

#tree a {
	color: #AAA;
}



ul#arbre {
	padding-left: 0;
	margin-left: 0;
}

ul#arbre span {
    font-weight: normal;
    padding: 0 0 0 20px;
    margin: 0 0 0 -7px;
    background-image: url(img/bullet.gif);
    background-repeat: no-repeat;
    background-position: 0;
}

ul#arbre span.arbre-plus {
    background-image: url(img/plus.gif);
    cursor: pointer;
}

ul#arbre span.arbre-minus {
    background-image: url(img/minus.gif);
    cursor: pointer;
}

ul#arbre ul {
    padding: 0;
    margin: 0;
}

ul#arbre li {
    padding: 0;
    margin: 0;
    list-style: none; 
}

ul#arbre li li {
	margin: 2px 0 0 16px;
}

ul#arbre li:last-child {
    border-left: 0;
}

.hide {
    display: none;
}




/*	Surcharge des plugins
 */

.info {
	border: 1px solid #464B3B;
	background: #575c4c;
	padding: 5px;
	color: #000;

	font-weight: normal;
	margin-left: 10%;
	margin-right: 10%;
	-moz-border-radius: 10px;
}

.plugin {
	padding: 5px;
	border: 1px dashed #464B3B;
	text-align: center;
}

.textbox {
	background: #FFF;
	text-align: left;
	padding: 10px;
}



/*	Dir
 */
#dir .header {
	background: #4A4F3E;
	font-size: 110%;
	padding: 5px;
}

#dir .header-info {
	font-size: 115%;
	font-weight: bold;
}

#dir .line:hover {
	background: #4E5342;
}

#dir .line td, #dir .line th {
	border-top: 1px solid #464B3B;
	border-bottom: 1px solid #464B3B;
	padding: 5px;
}

#dir .line a {
	color: #AAA;
	font-style: normal;
	text-decoration: none;
}

#dir .line a:hover {
	color: #000;
}


/*	Gallery
 */
.gallery td {
	background: transparent;
	border: 1px solid #575c4c;
	font-size: 80%;
	text-align: right;
}

.gallery fieldset {
	border: 0px;
	border: 1px solid #CCC;
	background: #EEE;
}

.gallery fieldset legend {
	border: 1px solid #CCC;
	background: #DDD;
}



/*	Zenphoto
 */
#zenphoto .imagethumb a {
	border: 1px solid #777;
	background: #575c4c;
}

#zenphoto .imagethumb a:hover {
	border: 1px solid #000;
	background: #585D4D;
}

#zenphoto .header-info {
	clear: both;
	margin: 0%;
	padding: 2% 0% 0% 0%;
}
